@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    
}
.slidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 78px;
    height: 100%;
    background:#11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
}
.slidebar.active{
    width: 240px;
}
.slidebar .logo_content .logo{
    color: #f4a896;;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
}
.slidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i{
    font-size: 47px;
    margin-right: 5px;
    color:#EF5455;
    animation: rotate 1s ease-in-out infinite;
}
@keyframes rotate {
    /* 0%{
        transform: rotate3d(2, 1, 0, 6.142rad);
    } */
    
    100%{
        transform: rotate3d(0,5, 0, 6.142rad);
    }
}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}
.logo_name span{
    color: #007AF3;
}
.slidebar #btn{
    position: absolute;
    color: #fff;
    top: 6px;
    left: 50%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.slidebar.active #btn{
    left: 90%;

}
.slidebar ul{
    margin-top: 20px;
}
.slidebar ul li{
    position:relative;
    height: 50px;
    width: 100%;
    margin: 0 5s px;
    list-style: none;
    line-height: 50px;
}
.slidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%,-50%);
    border-radius: 6px;
    background: #007AF3;
    color: rgb(0, 0, 0);
    line-height: 35px;
    height: 39px;
    width: 112px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.slidebar.active ul li .tooltip{
    display: none;
}
.slidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}
.slidebar ul li input{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 28px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color:#fff;
}
.slidebar ul li  .bx-search-alt{
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    transition: all 0.5s ease;
}
.slidebar ul li  .bx-search-alt:hover{
    background: #fff;
    color: #1d1b31;
}
.slidebar ul li a{
    color: #fff; 
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.slidebar ul li a:hover{
    color: #11101d;
    background:#FFF;
}
.slidebar ul li  i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.slidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.slidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
.slidebar .porfile_content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    width: 100%;
}
.slidebar .porfile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    transition: all 0.4s ease;
    background: none;
}
.slidebar.active .porfile_content .profile{
    background: #1d1b31;
}
.porfile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.slidebar.active  .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}
.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.profile_details img:hover{
    width: 65px;
}
.profile .profile_details .name_job{
    margin-left: 10px;
}
.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}
.profile .profile_details .job{
    font-size: 12px;
}
.profile #log_out{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50);
    min-height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background:#1d1b31;
}
.slidebar.active .profile #log_out{
    left: 88%;

}
.slidebar.active .profile #log_out{
    background: none;
}
.home_content{
    position: absolute;
    height: 100%;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    color:rgba(#33ccff,#ff0066);
}
.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}
.slidebar.active ~ .home_content{
    width: calc(100% - 240px);
    left: 240px;
    
}
.container {

    height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    display: flex;
	padding: 30px 0px 0px 164px;
    /* padding-left: 922px; */
	background: #dde1e7;
   
}
.neumorphism-1 {
	height: 87%;
    width: 82%;
	background:-o-linear-gradient(#33ccff,#ff0066);
    border: 2px solid #fff;
	border-radius: 5px;
    background: linear-gradient(#33ccff,#ff0066);
	box-shadow: -3px -3px 7px #ffffffb2, 8px -0px 1000px  rgba(-10, 1000, 1000, 0.895);
    
}

.container-1{
    margin: 240px 66px;
    /* font-size: 30px; */
  
}
.container-1  .hi{
    font-size: 65px;
    font-weight: bold;
    color: #111;
    font-family: 'Dancing Script', cursive;
    
    
}
.container-1 .iam{
    font-size: 50px;
    font-weight: bold;
    color: #333;
    font-family: 'Dancing Script', cursive;

}
.container-1 .iam span{
    color: #fff;
    font-weight:bold;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}
.container-1  .web{
    font-size: 50px;
    color: #333;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    padding-bottom: 12px;
   
}


.neumorphism-2{
    height: 310px;
	width: 310px;
    overflow: hidden;
	background: #dde1e7;
	border-radius: 5px;
	box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
}

.container .neumorphism-2{
    float: right;
    top: 30%;
    display: flex;
    position: absolute;
    left: 61%;
}
.container .neumorphism-2 img{
    width: 300px;
    height: 300px;
    margin: 5px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all 0.5s ease-in-out ;
}
.container .neumorphism-2 img:hover{
    width: 330px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    /* background: linear-gradient(#33ccff,#ff0066); */
   
}

